*.DS_Store
venv/**
.env
*__pycache__
data/raw_headline_data/**
data/raw_tweet_data/**
backtrader-code/orcl-1995-2014.txt
*.bin
**/weights/**
**/keepers/**
**log.txt
data/prediction_data/**
data/raw_kaggle_data/**
